mainmenu "Application Cloud Configuration"

config CLOUD_TLS_SEC_TAG
    int "TLS Sec Tag"
    default 42

config CLOUD_HOSTNAME
	string "Base URL"
	default "webhook.site"

config CLOUD_PORT
    int "Port"
    default 443

config CLOUD_PUBLISH_PATH
    string "Publish Path"
    default "/2574b574-4f74-40d6-aef4-fe5841878008"